# -----------------------
# Basic Authentication
# -----------------------

# .htpasswd
AuthUserFile {{ common_www_dir }}/{{ common_subdomain }}.{{ common_domain }}/.htpasswd

AuthGroupFile /dev/null
AuthName "{{ common_subdomain }}"
AuthType Basic
require valid-user
order deny,allow
